.cursor {
    display: inline-block;
    width: 0.6em;
    height: 1.2em;
    background-color: var(--color-green-neon);
    vertical-align: text-bottom;
    animation: blink 1s step-end infinite;
    box-shadow: 0 0 5px var(--color-green-neon);
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}